@import 'abstracts/const';
@import 'abstracts/mixin';
@import 'components/index';

body {
  margin: 0;
  font-family: $fontFamily-Gilroy-Regular;
  color: $color-black-light;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
