// Color variables
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #2c2647;
$color-gray: #f3f4f8;
$color-gray-dark: #434343;

// Screen size variables
$screen-sm: 768px;
$screen-md: 1024px;
$screen-xl: 1440px;

// Font family variables
$fontFamily-Gilroy-Regular: 'Gilroy-Regular', sans-serif;
$fontFamily-Gilroy-Semibold: 'Gilroy-Semibold', sans-serif;
$fontFamily-Gilroy-Heavy: 'Gilroy-Heavy', sans-serif;
$fontFamily-Montserrat-Black: 'Montserrat-Black', sans-serif;
$fontFamily-Montserrat-Bold: 'Montserrat-Bold', sans-serif;
$fontFamily-Montserrat-ExtraBold: 'Montserrat-ExtraBold', sans-serif;
$fontFamily-Montserrat-ExtraLight: 'Montserrat-ExtraLight', sans-serif;
$fontFamily-Montserrat-Light: 'Montserrat-Light', sans-serif;
$fontFamily-Montserrat-Medium: 'Montserrat-Medium', sans-serif;
$fontFamily-Montserrat-Regular: 'Montserrat-Regular', sans-serif;
$fontFamily-Montserrat-SemiBold: 'Montserrat-SemiBold', sans-serif;
$fontFamily-Montserrat-Thin: 'Montserrat-Thin', sans-serif;

// Font size variables
$fontSize-xxxs: 12px;
$fontSize-xxs: 14px;
$fontSize-xs: 16px;
$fontSize-sm: 18px;
$fontSize-md: 20px;
$fontSize-lg: 24px;
$fontSize-xlg: 26px;
$fontSize-xxlg: 32px;
