// Color variables
$color-black: #000000;

// Screen size variables
$screen-xl: 1440px;

// Font family variables
$fontFamily-Gilroy-Regular: 'Gilroy-Regular', sans-serif;
$fontFamily-Gilroy-Semibold: 'Gilroy-Semibold', sans-serif;
$fontFamily-Gilroy-Heavy: 'Gilroy-Heavy', sans-serif;
