// Color variables
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #2c2647;
$color-gray: #f3f4f8;

// Screen size variables
$screen-sm: 768px;
$screen-md: 1024px;
$screen-xl: 1440px;

// Font family variables
$fontFamily-Gilroy-Regular: 'Gilroy-Regular', sans-serif;
$fontFamily-Gilroy-Semibold: 'Gilroy-Semibold', sans-serif;
$fontFamily-Gilroy-Heavy: 'Gilroy-Heavy', sans-serif;

// Font size variables
$fontSize-xxxs: 12px;
$fontSize-xxs: 14px;
$fontSize-xs: 16px;
$fontSize-sm: 18px;
$fontSize-md: 20px;
$fontSize-lg: 24px;
$fontSize-xlg: 26px;
$fontSize-xxlg: 32px;
