.developer {
  width: 260px;
  height: 450px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgb(245, 213, 213);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 10px;

  &:hover {
    @include box-shadow-card;
  }

  &__card {
    height: 260px;
    width: 100%;
    display: block;
    margin: 0 auto;

    &__img {
      width: 260px;
      height: 100%;
      border-radius: 2%;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 38%;

    &__info {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &__name {
      padding: 5px;
    }

    &__link {
      background-image: url('../../images/svg/github.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    &__role {
      background-color: #ffa500;
      border-radius: 5%;
      border: 1px solid black;
      padding: 4px;
    }

    &__todo {
      display: inline-block;
      margin: 5% auto;
      width: 81%;
      border-radius: 155px 10px 125px 15px/10px 125px 15px 155px;
      padding: 1em;
      background: hsla(67, 95%, 95%, 1);
      border: solid 5px hsla(39, 100%, 50%, 1);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 90%;
        background-image: url('../../images/pin.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        z-index: 2;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .about {
    &__developers {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .developer {
    margin: 20px 5px;
  }
}
