@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../../fonts/Gilroy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../../fonts/Gilroy-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('../../fonts/Gilroy-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../fonts/Montserrat-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../fonts/Montserrat-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../../fonts/Montserrat-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../../fonts/Montserrat-ExtraLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../fonts/Montserrat-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../../fonts/Montserrat-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../../fonts/Montserrat-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../../fonts/Montserrat-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}
