.sprint__setting {
  &__inner {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
  }

  &__wrapper {
    background-color: rgb(116, 72, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 30px;
    max-width: 115px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10%;
  }

  &__fullscreen {
    background-image: url('../../images/Frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    transition: 0.5s ease-in;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  &__music {
    background-image: url('../../images/sound.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;

    position: relative;
    display: inline-block;

    &:hover &__tooltip {
      visibility: visible;
      transition-delay: 0.3s;
      opacity: 1;
    }

    &__tooltip {
      visibility: hidden;
      display: inline-block;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 0.25em;
      white-space: wrap;

      pointer-events: none;

      position: absolute;
      z-index: 15;
      top: 120%;
      left: -300%;
      opacity: 0;
      transition: opacity 500ms ease 0s, visibility 500ms ease 0s;
      user-select: none;
    }
  }
}
