.layout {
  max-width: $screen-xl;
  margin: 0 auto;

  @media (max-width: $screen-xl) {
    padding: 0 20px;
  }
}

.page__title {
  font-family: $fontFamily-Gilroy-Heavy;
  font-size: $fontSize-xxlg;
}

.page__subtitle {
  font-family: $fontFamily-Gilroy-Semibold;
  font-size: $fontSize-xxlg;
}
