.presentation {
  flex: 1;
  height: 550px;
  padding-left: 20px;
  background-color: $color-gray;

  &__header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 450px) {
      flex-direction: column-reverse;
    }
  }

  &__border {
    padding: 2px 4px;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    height: 105%;
    width: 105%;
    margin-left: -20px;
    background-color: inherit;

    &::before {
      content: '';
      border: 2px solid #353535;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -5;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
  }

  &__word {
    margin: 10px 0;
    font-family: $fontFamily-Montserrat-Medium;
    font-size: $fontSize-xxlg;
    font-weight: bold;
  }

  &__translate {
    margin: 10px 0;
    font-size: $fontSize-md;
    font-weight: 600;
  }

  &__transcription {
    display: flex;
    align-items: center;
  }

  &__play {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    background-image: url(../../images/svg/volume.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: #cecece;
    }
  }

  &__inner__img {
    width: 65%;
    height: 200px;

    @media (max-width: 450px) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 450px) {
      width: 100%;
    }
  }

  &__meaning {
    font-size: $fontSize-md;
    font-weight: 600;
  }

  &__btns {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
  }

  &__btn {
    padding: 4px;
    border: 1px solid $color-gray-dark;
    font-family: $fontFamily-Montserrat-SemiBold;
    font-size: $fontSize-xxs;
    cursor: pointer;
    transition: all 0.2s ease-out;
    text-transform: uppercase;

    &:hover {
      background-color: #cecece;
    }
  }
}
